@import "../styles/reset.css";
@import "../styles/variables.css";
@import "../styles/typography.css";
@import "../styles/animations.css";

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background: var(--color-background);
  color: var(--color-foreground);
}

main {
  flex: 1;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
