.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-header);
  width: 100%;
  background-color: transparent;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: var(--space-5);
}

.logo {
  margin-left: auto;
}

@media (min-width: 1280px) {
  .container {
    padding-block: var(--space-6);
  }
}
